@using Sociomedia.Front.Data

<div class="article">
    <a href="@("/medias/" + Value.MediaId)">
        <img class="logo" src="@Value.MediaImageUrl" />
    </a>
    <img class="image" src="@Value.ImageUrl"/>
    <a class="title" href="@Value.Url" target="_blank">@Value.Title</a>
    <p class="date">@Value.PublishDate.ToString("G")</p>
    <p class="description">@Value.Summary</p>
</div>

<Styled>
    .article {
        display: block;
    }

    .article .date {
        font-size: 12px;
        margin-top: 10px;
    }

    .article .logo {
        height: 20px;
        display: block;
        text-align: center;
        margin: 5px;
    }

    .article .image {
        width: 100%;
        height: 150px;
        background-color: lightblue;
        -webkit-object-fit: cover;
        object-fit: cover;
    }

    .article .title {
        text-align: center;
        display: block;
    }

    .article .description {
        font-size: 14px;
    }
</Styled>

@code {

    [Parameter]
    public ArticleListItem Value { get; set; }

}