@using Sociomedia.Front.Data
<div class="article">
    <a href="@("/medias/" + Value.MediaId)">
        <img class="logo" src="@Value.MediaImageUrl" />
    </a>
    <img class="image" src="@Value.ImageUrl"/>
    <a class="title" href="@Value.Url" target="_blank">@Value.Title</a>
    <p class="date">@Value.PublishDate.ToString("G")</p>
    <p class="description">@Value.Summary</p>
</div>


@code {

    [Parameter]
    public ArticleListItem Value { get; set; }

}